html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    margin-left: 2rem;
}

#base-of-triangle{
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    margin: 10px;
}

#height-of-triangle{
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    margin: 10px;
}

.calcualte {
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    margin-left: 4rem;
}

/* .plus {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    color: green;
    margin-left: 7rem;
} */

.area-of-triangle {
    margin-left: 50%;
    margin-top: -8%;
    width: 100%;
}